{{>head}}
{{>navbar}}

<div class="row">
    <div class="col-8">
        <h1>Hola</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam, reprehenderit aperiam aliquid omnis similique fugit animi at ex recusandae unde iste ipsa deserunt, corporis aut autem obcaecati delectus veniam ut!</p>
    </div>

    <div class="col-4">
        <img src="assets/img/1.jpg" alt="" class="img-thumbnail">
    </div>
</div>

{{>footer}}